<template>
    <div>
        <form>
            <input type="text" placeholder="Name" @keyup="updateName" v-model="name"/>
            <input type="text" placeholder="E-mail" @keyup="updateEmail" v-model="email"/>
            <select v-model="category_id">
                <option v-for="category of categories" :value="category._id">
                    {{ category.name }}
                </option>
            </select>
            <button type="button" @click="addUser">Salvar</button>
        </form>

        <br/>

        <ul>
            <li v-for="user of users">{{ user.name }} - {{ user.email }} - {{ getCategoryById(user.category_id) }}</li>
        </ul>

        <br/>

        <categoriesList></categoriesList>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import categoriesList from '../components/categoriesList'

    export default {
        name: 'Home',
        
        data() {
            return {
                name: '',
                email: '',
                category_id: 1
            }
        },

        computed: {
            ...mapGetters({
                users: 'users',
                categories: 'categories'
            })
        },

        components: {
            categoriesList
        },

        methods: {
            updateName({ target }) {
                this.name = target.value
            },

            updateEmail({ target }) {
                this.email = target.value
            },

            addUser() {
                const { name, email, category_id } = this

                if (name === '' || email === '') {
                    return false
                }

                this.newUser({ name, email, category_id })                        
                this.clearForm()
            },

            getCategoryById(id) {                
                return this.categories.filter(item => item._id == id)[0].name
            },

            clearForm() {
                this.name = ''
                this.email = ''
                this.category_id = 1
            },

            ...mapActions(['newUser'])
        }
    }
</script>